{% extends 'main/trips_base.html' %}

{% load static %}

{% block column_main_css %}col-sm-12 col-xl-6 offset-xl-3 col-md-8 offset-md-2{% endblock %}

{% block navbar_content %}
  {% include 'main/guest_cabinet/s_navbar.html' %}
{% endblock %}

{% block body %}
  {# Прячем sidebar #}{% with show_sidebar=False %}{{ block.super }}{% endwith %}
{% endblock %}

{% block early_script_links %}
  {% include 'main/guest_cabinet/s_yandex_metrics_counter.html' %}
{% endblock %}

{% block content %}
  <div class="row p-t-5">
    <div class="col-sm-12 panels-wells">
      {% for trip_template in trip_templates %}
        {% include 'main/guest_cabinet/s_trip_panel.html' with show_heading=False %}
      {% empty %}
        Нет информации о предстоящих турах
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block script_links %}
  {{ block.super }}
  <script src="{% static 'pages/supplier_cabinet/future-trips.js' %}"></script>
{% endblock %}
